:root {
  --header-row-size: 8.3%; /* 1fr */
  --libdetail-row-size: 91.7%; /* 11fr */
  --lib-col-size: 70%;
  --details-col-size: 30%;
}

#grid-container {
  grid-template:  "header  header"  var(--header-row-size)
                  "library details" var(--libdetail-row-size)
                / var(--lib-col-size) var(--details-col-size);
  justify-content: stretch;
  gap: 0px;
}

#search-field {
  position: absolute;
  top: calc(var(--header-row-size) / 2 - (var(--searchfield-height) / 2));
  right: .8em;
}

#playlist-nav {
  padding:0px;
  margin:0px;
  height:100%;
  /* width:var(--lib-col-size); */
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}
