:root {
  --header-row-size: 2.5em; /* 1fr */
  --libdetail-row-size: calc(100vh - var(--header-row-size)); /* 11fr */
  --lib-col-size: 70%;
  --details-col-size: 30%;

  --navcontrols-top: calc(var(--header-row-size) / 2 - (var(--navcontrols-height) / 2));

  --openablepane-zindex: 999999;
  --openablepane-width-factor: .7;
  --openablepane-height-factor: .8;
  --openablepane-width: calc(var(--openablepane-width-factor) * 100%);
  --openablepane-height: calc(var(--openablepane-height-factor) * 100%);
  --openablepane-maxwidth: 40em;
  --openablepane-left: calc((100% - var(--openablepane-width)) / 2);
  --openablepane-top: calc((100% - var(--openablepane-height)) / 2);
}

#grid-container {
  grid-template:  "header  header"  var(--header-row-size)
                  "library details" var(--libdetail-row-size)
                / var(--lib-col-size) var(--details-col-size);
  justify-content: stretch;
  gap: 0px;
}

.pane {
  position:relative;
}

#nav-controls {
  position: absolute;
  top: var(--navcontrols-top);
  right: 0em;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#nav-playlists {
  padding:0px;
  margin:0px;
  height:100%;
  /* width:var(--lib-col-size); */
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.openable-pane {
  z-index: var(--openablepane-zindex);
  position: absolute;
  width: var(--openablepane-width);
  max-width: var(--openablepane-maxwidth);
  min-height: var(--openablepane-height);
  top: var(--openablepane-top);
  left: 50%; /*var(--openablepane-left);*/
  transform: translateX(-50%);
  box-sizing: border-box;
}

/* so that everything appears above the ::before element which obscures the background */
.openable-pane * {
  position: relative;
  z-index: calc(var(--openablepane-zindex) + 1);
}

.openable-close-btn {
  z-index: calc(var(--openablepane-zindex) + 2);
}

#editor-pane {
}

#edit-search {
  position:relative;
  z-index: calc(var(--openablepane-zindex) + 3);
}

/* transparent element to obscure the other panes in the background */
.openable-pane::before {
  content: "";
  z-index: calc(var(--openablepane-zindex) - 1);
  display: block;
  position: absolute;
  /* left: calc(1 / var(--openablepane-width-factor) * var(--openablepane-left) * -1); */
  /* top: calc(1 / var(--openablepane-height-factor) * var(--openablepane-top) * -1); */
  left: -100vw;
  top: calc(var(--openablepane-top) * -1);
  width: 200vw;
  height: 200vh;
}

#settings-tabs {
  /* width:var(--lib-col-size); */
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#edit-container form {
  display:grid;
  grid-template-columns: 2fr 1fr 1fr minmax(10rem,2fr);
  grid-template-rows: repeat(14, auto);

  grid-gap: 0.5em;
}

/* @media (min-width: 1600px) {
  #edit-container form {
    column-gap: 1.5em;
  }
} */

#edit-container .edit-field {

}

/* column 1 */
.edit-field.title {
  grid-row: 1;
  grid-column: 1 / span 3;
}
.edit-field.description {
  grid-row: 2;
  grid-column: 1 / span 3;
}
.edit-field.year {
  grid-row: 3;
  grid-column: 1;
}
.edit-field.rating {
  grid-row: 3;
  grid-column: 2;
}
.edit-field.seen {
  grid-row: 3;
  grid-column: 3;
}
.edit-field.director {
  grid-row: 4;
  grid-column: 1;
}
.edit-field.directorsort {
  grid-row: 4;
  grid-column: 2 / span 2;
}
.edit-field.genre {
  grid-row: 5;
  grid-column: 1;
}
.edit-field.kind {
  grid-row: 5;
  grid-column: 2 / span 2;
}
.edit-field.rated {
  grid-row: 6;
  grid-column: 1;
}
.edit-field.boxoffice {
  grid-row: 6;
  grid-column: 2 / span 2;
}
.edit-field.cast {
  grid-row: 7 / span 2;
  grid-column: 1 / span 3;
}
.edit-field.tags {
  grid-row: 9;
  grid-column: 1 / span 3;
}
.edit-field.collections {
  grid-row: 10 / span 10;
  grid-column: 1 / span 3;
}

/* column 4 */
.edit-field.artwork {
  grid-row: 1 / span 5;
  grid-column: 4;
}
.edit-field.position {
  grid-row: 6;
  grid-column: 4;
}
.edit-field.lastseen {
  grid-row: 7;
  grid-column: 4;
}
.edit-field.dateadded {
  grid-row: 8;
  grid-column: 4;
}
.edit-field.ratings {
  grid-row: 9;
  grid-column: 4;
}
.edit-field.country {
  grid-row: 10;
  grid-column: 4;
}
.edit-field.languages {
  grid-row: 11;
  grid-column: 4;
}
.edit-field.revert-btn {
  grid-row: 12;
  grid-column: 4;
}
.edit-field.save-btn {
  grid-row: 13;
  grid-column: 4;
}

#settings-preferences .sections-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(14, auto); */
  grid-gap: 0.5em;
}

#settings-prefs-cols {
  grid-row: 1;
  grid-column: 1 / span 2;
}
