@font-face {
  font-family: Dorsa;
  src: url('../_fonts/Dorsa-Regular.ttf') format('truetype');
}

@font-face {
  font-family: HKGrotesk;
  src: url('../_fonts/HKGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: HKGrotesk;
  src: url('../_fonts/HKGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: HKGrotesk;
  src: url('../_fonts/HKGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: HKGrotesk;
  src: url('../_fonts/HKGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: HKGrotesk;
  src: url('../_fonts/HKGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: HKGrotesk;
  src: url('../_fonts/HKGrotesk-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: HKGrotesk;
  src: url('../_fonts/HKGrotesk-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: WireOne;
  src: url('../_fonts/WireOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: SourceCodePro;
  src: url('../_fonts/SourceCodePro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: SourceCodePro;
  src: url('../_fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SourceCodePro;
  src: url('../_fonts/SourceCodePro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: SourceCodePro;
  src: url('../_fonts/SourceCodePro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SourceCodePro;
  src: url('../_fonts/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  /* font styling */
  --main-font: HKGrotesk, Helvetica, sans-serif;
  --main-font-size: 20pt;
  --main-font-weight: normal;
  --big-title-font: Dorsa, Helvetica, sans-serif;
  --playlist-tab-font: var(--main-font);
  --playlist-tab-font-size: inherit;
  --playlist-tab-font-weight: 500;
  --th-font: WireOne, Helvetica, sans-serif;
  --th-font-size: calc(var(--main-font-size) * 5 / 3);
  --table-cell-monofont: SourceCodePro, monospace;
  --table-cell-monofont-size: calc(var(--main-font-size) * 13 / 12);
  --table-cell-monofont-weight: 300;
  --movie-row-date-font-size: calc(var(--main-font-size) * 5 / 6);
  --movie-row-year-font-size: calc(var(--main-font-size) * 7 / 8);
  --collectionheader-font: var(--main-font);
  --collectionheader-font-size: var(--main-font-size);
  --collectionheader-font-weight: 600;
  --collectionheader-font-style: inherit;
  --details-font-size: calc(var(--main-font-size) * 5 / 6);
  --detailtitle-font-size: calc(var(--main-font-size) * 25 / 6);
  --detailtags-font-style: italic;
  --detaildescrip-font-size: inherit;
  --detaillabel-font-size: var(--main-font-size);
  --detaillabel-font-style: normal;

  /* background colors */
  --darker-bg: #181a1e;
  --dark-bg: #1e2126;
  --med-bg: #24272e;
  --medlight-bg: #2d313a;
  --light-bg: #363b45;
  --lighter-bg: #464c59;

  --darker-bg-rgba0: rgba(24,26,30,0);
  --dark-bg-rgba0: rgba(30,33,38,0);
  --med-bg-rgba0: rgba(36,39,46,0);
  --medlight-bg-rgba0: rgba(45,49,58,0);
  --light-bg-rgba0: rgba(54,59,69,0);
  --lighter-bg-rgba0: rgba(70,76,89,0);

  /* text colors */
  --main-text: #b6b9bf; /*#a1a9b7;*/
  --bright-text: #d8dde5; /*#cfd4dc;*/
  --dim-text: #8b929e; /*#7e848f;*/
/* } */

/* body { */
  --main-bg: var(--dark-bg);
  --pane-bg-0: var(--med-bg);
  --pane-bg-1: var(--darker-bg);

  --nav-bg: var(--pane-bg-1);
  --library-bg: var(--main-bg);
  --details-bg: var(--pane-bg-1);

  --textinput-font-size: calc(var(--main-font-size));/* * 3 / 4);*/
  --textinput-height: calc(var(--textinput-font-size) * 7 / 5);
  --textinput-bg: var(--med-bg);
  --textinput-text: var(--dim-text);
  --textinput-border: .12em solid var(--light-bg);
  --textinput-borderradius: 999px;
  --textinput-padding: 0em 1.4em 0em .5em;
/* } */
  --searchfield-height: var(--textinput-height);

  --searchicon-opacity: .25;
  --searchicon-empty: url('../../images/mag-icon_white.png');
  --searchicon-filled: url('../../images/x-icon_white.png');
  --searchicon-position: absolute;
  --searchicon-top: 0em;
  --searchicon-bottom: inherit;
  --searchicon-left: inherit;
  --searchicon-right: calc(var(--textinput-height) * -.1);
  --searchicon-height: var(--searchfield-height);
  --searchicon-width: var(--textinput-height);
  --searchicon-background-empty: rgba(0,0,0,0) var(--searchicon-empty) no-repeat 0% 50%;
  --searchicon-background-filled: rgba(0,0,0,0) var(--searchicon-filled) no-repeat 0% 50%;
  --searchicon-bg-size: calc(var(--textinput-height) * .6) calc(var(--textinput-height) * .6);


/* #nav-pane { */
  --playlisttab-bg: var(--pane-bg-0);
  --playlisttab-bg-hover: var(--medlight-bg);
  --playlisttab-bg-selected: var(--playlisttab-bg);
  --playlisttab-bgimg-selected: linear-gradient(-20deg, var(--playlisttab-bg) 50%, var(--medlight-bg) 115%);
  --playlisttab-text: var(--main-text);
  --playlisttab-text-hover: var(--bright-text);
  --playlisttab-text-selected: var(--playlisttab-text);
  --playlisttab-borderwidth-width: .1em;
  --playlisttab-borderwidth: var(--playlisttab-borderwidth-width) var(--playlisttab-borderwidth-width) var(--playlisttab-borderwidth-width) 0em;
  --playlisttab-borderwidth-hover: var(--playlisttab-borderwidth);
  --playlisttab-borderwidth-selected: var(--playlisttab-borderwidth-width);
  --playlisttab-borderstyle: solid;
  --playlisttab-borderstyle-hover: var(--playlisttab-borderstyle);
  --playlisttab-borderstyle-selected: var(--playlisttab-borderstyle);
  --playlisttab-bordercolor: var(--medlight-bg) var(--medlight-bg) var(--playlisttab-bordercolor-selected-color) var(--medlight-bg);
  --playlisttab-bordercolor-hover: var(--playlisttab-bordercolor);
  --playlisttab-bordercolor-selected-color: var(--lighter-bg);
  --playlisttab-bordercolor-selected: var(--playlisttab-bordercolor-selected-color) var(--playlisttab-bordercolor-selected-color) var(--playlisttab-bg) var(--playlisttab-bordercolor-selected-color);
  --playlisttab-boxshadow: .2em -.2em .15em .05em rgba(24,26,30,.2);
  --playlisttab-boxshadow-selected: var(--playlisttab-boxshadow), -.2em -.2em .15em .05em rgba(24,26,30,.2);
  --playlisttab-padding: .2em .7em .2em .7em;
/* } */

/* #library-pane { */
  --collection-marginleft: .7em;

  --collectionheader-bg: var(--lighter-bg);
  --collectionheader-bg-hover: var(--lighter-bg);
  --collectionheader-text: var(--library-bg);
  --collectionheader-text-hover: var(--library-bg);
  --collectionheader-margin-bottom: 3px; /* one of the few times we use pixels instead of em's, because in this case, consistency is more important than scalability */
  --collectionheader-margin: 0em 0em var(--collectionheader-margin-bottom) 0em;
  --collectionheader-padding: .5em 0em .5em .5em;

  --dropdownarrow-color: var(--collectionheader-text);
/* } */

/* #movie-table { */
  --th-bg: var(--pane-bg-0);
  --th-bg-hover: var(--th-bg); /*var(--light-bg);*/
  --th-text: var(--dim-text);
  --th-text-hover: var(--bright-text);

  --movie-row-height: 2.5em;
  --movie-row-bg: var(--library-bg);
  --movie-row-bg-odd: var(--movie-row-bg);
  --movie-row-bg-even: var(--med-bg);
  --movie-row-bg-hover: var(--light-bg);
  --movie-row-bg-hover-odd: var(--movie-row-bg-hover);
  --movie-row-bg-hover-even: var(--movie-row-bg-hover);
  --movie-row-text-hover: var(--bright-text);

  --tablecell-padding: 0em .3em 0em .3em;

  --tablecell-ellipsis-grad: linear-gradient(90deg, var(--dark-bg-rgba0) 0%, var(--movie-row-bg) 100%);
  --tablecell-ellipsis-grad-odd: var(--tablecell-ellipsis-grad);
  --tablecell-ellipsis-grad-even: linear-gradient(90deg, var(--med-bg-rgba0) 0%, var(--movie-row-bg-even) 100%);
  --tablecell-ellipsis-grad-hover: linear-gradient(90deg, var(--light-bg-rgba0) 0%, var(--movie-row-bg-hover) 100%);
  --tablecell-ellipsis-grad-hover-odd: var(--tablecell-ellipsis-grad-hover);
  --tablecell-ellipsis-grad-hover-even: var(--tablecell-ellipsis-grad-hover);

  --editwidget-text-hover: ;
  --editwidget-opacity-hover: .3;
/* } */

/* #details-pane { */
  --detailtitle-text: var(--bright-text);
  --detailtitle-bg: linear-gradient(0deg, var(--details-bg) 5%, rgba(0,0,0,.6) 60%, rgba(0,0,0,0) 100%);

  --detailposition-border: .075em solid var(--lighter-bg);
  --detailposition-bg: var(--dark-bg);
  --detailpositioninner-bg: var(--lighter-bg);

}

/******************************************/

/* extend the playlist tabs to the left so they slip behind the tab to their left, creating an overlap effect */
#playlist-nav li {
  border-radius: 0em .5em 0em 0em;
  padding-left: 1.4em !important;
  margin-left: -.7em;
}

/* undo overlap effect for selected tab */
#playlist-nav li.selected {
  border-radius: .5em .5em 0em 0em;
  padding-left: .7em !important;
  margin-left: calc(-1 * var(--playlisttab-borderwidth-selected));
  z-index:10000 !important;
}

/* the below is not supported yet. It would remove the right border of the previous tab
in order to keep the tabs from shifting over when we apply a left border to the selected tab.
in lieu of that, we will use a negative margin on the selected element instead (in the above block) to compensate for the extra border */
/*#playlist-nav li:has(+ (#playlist-nav li.selected)) { /* the tab to the left of the selected tab */
  /*border-width: var(--playlisttab-borderwidth-width) 0em var(--playlisttab-borderwidth-width) 0em;
} */

/* specifically set a selected tab of a hierarchical playlist to match the collection header background */
#playlist-nav li.selected.hierarchical {
  background-image: none !important;
  background-color: var(--collectionheader-bg) !important;
  border-bottom: var(--playlisttab-borderwidth-width) solid var(--collectionheader-bg);
  color: var(--collectionheader-text);
  font-weight: calc(var(--playlist-tab-font-weight) + 200);
}

/* line extending to the right of the tabs to match the tab borders */
#playlist-nav::after {
  content:"";
  border-top: var(--playlisttab-borderwidth-width) var(--playlisttab-borderstyle) var(--playlisttab-bordercolor-selected-color);
  flex-grow:1;
}

/* get rid of the word "Search: " preceding the search text box */
#search-label {
  display:none;
}

/* bump the table right up to the collection header in hierarchical playlists */
.collection #movie-table {
  margin-top: calc(-1 * var(--collectionheader-margin-bottom));
}

/* add a little inset shadow over the first child collection of an open collection header element */
.collection.expanded .collection:first-of-type h1 {
  box-shadow: inset -.5em .2em .3em .0em rgba(0,0,0,.5);
  width: calc(100% + .5em); /* so we can't see the shadow on the right vertical side */
}

/* remove the margin from the first child collection of an open collection header */
.collection.expanded .collection:first-of-type {
  margin-top: calc(-1 * var(--collectionheader-margin-bottom));
}

/* .collection.collapsed h1 {
  box-shadow: none;
  margin-bottom: var(--collectionheader-margin-bottom);
} */


/* make the dateadded text spacing skinnier */
#movie-table .mono {
  word-spacing: -.3em;
  /* position: relative;
  bottom: 0.5px; */
}

/* add right-facing triangle icon to the h1 of a collapsed collection div */
.collection.collapsed > :first-child::before {
  content:"\25B8";
  padding-right:.2em;
  color: var(--dropdownarrow-color);
}
.collection.collapsed > :first-child:hover::before { /* and the same thing hovered */
  content:"\25B8";
  padding-right:.2em;
  color: var(--dim-text);
  text-shadow: 0em 0em .2em var(--dark-bg);
}
/* add down-facing triangle icon to the h1 of an expanded collection div */
.collection.expanded > :first-child::before {
  content:"\25BE";
  padding-right:.2em;
  color: var(--dropdownarrow-color);
}
.collection.expanded > :first-child:hover::before { /* and the same thing hovered */
  content:"\25BE";
  padding-right:.2em;
  color: var(--dim-text);
  text-shadow: 0em 0em .2em var(--dark-bg);
}

/* add slight black shadow to big title text in details pane */
.detail-title-text {
  text-shadow: 0em 0em .2em #000000;
  white-space: nowrap;
}

/* add marquee effect to detail title if it's too long */
/* .detail-title-text.overflow {
  animation: details-scroll-left 7s ease-in infinite;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-fill-mode: both;
} */

@keyframes details-scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-120%);
  }
}

.table-title-text.overflow {
  /* marquee effect */
  animation: table-scroll-left 5s ease-in infinite;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes table-scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-90%);
  }
}
