@import url('../../themes/appearances/dark-theme.css');
@import url('../../themes/layouts/default-layout-theme.css');

body {
  background-color: var(--main-bg);
  color: var(--main-text);
  padding:0px;
  margin:0px;
}

/*  collection titles, table headers, playlist tabs, edit widgets, and table rows
    should have a pointer cursor and not have selectable text */
.collection h1, #movie-table th, #playlist-nav li, .edit-widget li, .movie-row {
  cursor: pointer;
  user-select: none;
}

input[type=text] {
  outline: none;
  background-color: var(--textinput-bg);
  color: var(--textinput-text);
  border: var(--textinput-border);
  border-radius: var(--textinput-borderradius);
  padding: var(--textinput-padding);
}

/*************************************/
/*######## MAIN GRID LAYOUT #########*/
/*************************************/
#grid-container {
  width:100vw;
  height:100vh;
  display:grid;
}

#nav-bar {
  grid-area: header;
  background-color: var(--pane-bg);
}
#library-pane {
  grid-area: library;
  background-color: var(--pane-bg);
  overflow-y: scroll;
  scrollbar-width: none;
}
#library-pane ::-webkit-scrollbar {
    display: none;
}
#details-pane {
  grid-area: details;
  background-color: var(--pane-bg);
}

/*************************************/
/*############# NAV PANE ############*/
/*************************************/

#playlist-nav {
  padding-left:0px;
}
/* playlist tabs */
#playlist-nav li {
  list-style-type: none;
  float:left;
  padding-left:10px;
  padding-right:10px;
  margin-left: 3px;
  background-color:var(--playlisttab-bg);
  color:var(--playlisttab-text);
  user-select: none;
}
#playlist-nav li:hover {
  background-color:var(--playlisttab-bg-hover);
  color:var(--playlisttab-text-hover);
}
#search-field {
  margin-left: 3px;
}

/*************************************/
/*########## LIBRARY PANE ###########*/
/*************************************/

th, tr, td {
  border-width:0px;
}

#movie-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}
#movie-table th {
  background-color:var(--th-bg);
  color:var(--th-text);
}
#movie-table th:hover {
  background-color:var(--th-bg-hover);
  color:var(--th-text-hover);
}
.movie-row {
  height: 2.2em;
}
.movie-row .dateadded, #movie-table .year {
  font-family: monospace;
  font-size: 12pt;
}
.movie-row .centered {
  text-align: center;
}
.movie-row:hover {
  background-color: var(--movie-row-bg-hover);
  color: var(--movie-row-text-hover);
}
/* edit widgets are little graphical editors, such as the rating stars and the checkmark in the table rows that respond to mouseover and click events */
.edit-widget {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.edit-widget.over {
  opacity:.6;
}
.edit-widget li {
  display: inline;
}
#collections-container {
  margin-left:-10px;
}
#collections-container *.hidden {
  display:none;
}
.collection {
  margin-left:10px;
}
.collection h1 {
  display:block;
  background-color: var(--collection-bg);
  color: var(--collection-text);
  margin:0px;
  margin-top:2px;
  margin-bottom:2px;
  padding:2px;
  padding-left:5px;
  font-size:12pt;
  text-transform: uppercase;
  font-weight:350;
  font-family: Helvetica, Arial, sans-serif;
}
.collection h1:hover {
  background-color: var(--collection-bg-hover);
  color: var(--collection-text-hover);
}
/* add right-facing triangle icon to the h1 of a collapsed collection div */
.collection.collapsed > :first-child::before {
  content:"\25B8";
  padding-right:3px;
  color: var(--dropdownarrow-color);
}
/* add down-facing triangle icon to the h1 of an expanded collection div */
.collection.expanded > :first-child::before {
  content:"\25BE";
  padding-right:3px;
  color: var(--dropdownarrow-color);
}

/*************************************/
/*########## DETAILS PANE ###########*/
/*************************************/

#details-pane {
  border: solid 1px black;
}
#details-pane ul {
  padding:0px;
  margin:0px;
  list-style: none;
}
.detail {
  margin-bottom:8px;
  margin-left:5%;
  margin-right:5%;
}
.detail .label {
  font-weight:bold;
}
#detail-title {
  --size: 35pt;
  --padding: 30px;
  text-align:center;
  font-size:25pt;
  height:var(--size);
  position: relative;
  bottom: calc(var(--size) + var(--padding));
  padding-top:var(--padding);
  margin-bottom:calc(-1 * (var(--size) + var(--padding)));
  margin-left:0px;
  margin-right:0px;
  color: var(--detailtitle-text);
  background: var(--detailtitle-bg);
}
#detail-artwork {
  max-height:50vh;
  overflow:hidden;
  margin-left:0px;
  margin-right:0px;
}
#detail-artwork img {
  width:100%;
}
#detail-position .position-outer {
  width:80%;
  height:8px;
  border: var(--detailposition-border);
  background-color: var(--detailposition-bg);
  border-radius:4px;
  overflow:hidden;
  margin: auto;
  margin-bottom:15px;
}
#detail-position .position-inner {
  height:100%;
  background-color: var(--detailpositioninner-bg);
}
