@import url('../../themes/appearances/dark-theme.css');
@import url('../../themes/layouts/default-layout-theme.css');

:root {
  overflow-x:hidden;
  scrollbar-width: none;
}
:root ::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--main-bg);
  color: var(--main-text);
  padding:0px;
  margin:0px;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  overflow-x:hidden;
  overflow-y:hidden;
  scrollbar-width: none;

  /* font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
body ::-webkit-scrollbar {
  display: none;
}


/*  collection titles, table headers, playlist tabs, edit widgets, and table rows
    should have a pointer cursor and not have selectable text */
.collection h1, #movie-table th, #nav-playlists li, .edit-widget li, .movie-row {
  cursor: pointer;
  user-select: none;
}

input[type=text] {
  font-size: var(--textinput-font-size);
  height: var(--textinput-height);
  outline: none;
  background-color: var(--textinput-bg);
  color: var(--textinput-text);
  border: var(--textinput-border);
  border-radius: var(--textinput-borderradius);
  padding: var(--textinput-padding);
}

/* when an input field is empty, optionally display an icon on the right side of it */
/* in order to display an icon, override the 'background' property with an image */
/* this is simply an empty div; we must populate it with an icon */
input.empty + .input-clear-button {
  background: var(--inputicon-background-empty);
}

/* when an input field has text, optionally display an icon on the right side of it */
/* this is simply an empty div; we must populate it with an icon */
/* when clicked, this div should clear the search field */
input.filled + .input-clear-button {
  background: var(--inputicon-background-filled);
  cursor:pointer;
}

/* set the placement and size of the icons */
input + .input-clear-button {
  position: var(--inputicon-position);
  top: var(--inputicon-top);
  bottom: var(--inputicon-bottom);
  left: var(--inputicon-left);
  right: var(--inputicon-right);
  height: var(--inputicon-height);
  width: var(--inputicon-width);
  /* background: var(--inputicon-background-empty); */
  background-size: var(--inputicon-bg-size) !important;
  opacity:var(--inputicon-opacity);
}

/* necessary so that the icons (styled above) will appear within the container,
   as they are absolutely positioned */
.input-container {
  display: inline-block;
  position: relative;
}

/*************************************/
/*######## MAIN GRID LAYOUT #########*/
/*************************************/
#grid-container {
  width:100vw;
  height:100vh;
  display:grid;
}

#nav-pane {
  grid-area: header;
  background-color: var(--nav-bg);
}
#library-pane {
  grid-area: library;
  background-color: var(--library-bg);
  overflow-y: scroll;
  scrollbar-width: none;
}
#library-pane ::-webkit-scrollbar {
    display: none;
}
#details-pane {
  grid-area: details;
  background-color: var(--details-bg);
}

/*************************************/
/*############# NAV PANE ############*/
/*************************************/

/* <ul> that holds the playlist links */
#nav-playlists {
}
/* <li>'s that are the playlist links/tabs */
#nav-playlists li {
  font-family: var(--playlist-tab-font);
  font-size: var(--playlist-tab-font-size);
  font-weight: var(--playlist-tab-font-weight);
  list-style-type: none;
  background-color:var(--playlisttab-bg);
  color:var(--playlisttab-text);
  padding: var(--playlisttab-padding);
  border-width: var(--playlisttab-borderwidth);
  border-style: var(--playlisttab-borderstyle);
  border-color: var(--playlisttab-bordercolor);
  box-shadow: var(--playlisttab-boxshadow);
  user-select: none;
}
#nav-playlists li:hover {
  background-color:var(--playlisttab-bg-hover);
  color:var(--playlisttab-text-hover);
  border-width: var(--playlisttab-borderwidth-hover);
  border-style: var(--playlisttab-borderstyle-hover);
  border-color: var(--playlisttab-bordercolor-hover);
}
#nav-playlists li.selected {
  background-color: var(--playlisttab-bg-selected);
  background-image: var(--playlisttab-bgimg-selected);
  color: var(--playlisttab-text-selected);
  border-width: var(--playlisttab-borderwidth-selected);
  border-style: var(--playlisttab-borderstyle-selected);
  border-color: var(--playlisttab-bordercolor-selected);
  box-shadow: var(--playlisttab-boxshadow-selected);
}

#nav-controls {
  height: var(--navchrome-height);
}

#nav-controls .controls {
  margin: var(--navcontrolschildren-margin);
}

/* search input container */
#search-field {
  height: var(--searchfield-height);
}
#search-field input.empty + .input-clear-button {
  background: var(--searchicon-background-empty);
  /* background-size: var(--inputicon-bg-size); */
}

#settings-button {
  cursor:pointer;
  user-select:none;
  opacity: var(--settingsicon-opacity);
  height: var(--settingsicon-height);
  width: var(--settingsicon-width);
  background: var(--settingsicon-background);
  background-size: var(--settingsicon-bg-size);

  padding: var(--settingsicon-padding);
  margin: var(--settingsicon-margin);
  border: var(--settingsicon-border);
}

#settings-button:hover {
  opacity: var(--settingsicon-opacity-hover);
}

/*************************************/
/*########## LIBRARY PANE ###########*/
/*************************************/

th, tr, td {
  border-width:0px;
}
#movie-table {
  border-collapse: collapse;
  width: 100%;
}
#movie-table thead {
  /* position:fixed; */
}

#movie-table th {
  background-color: var(--th-bg);
  color: var(--th-text);
  font-family: var(--th-font);
  font-size: var(--th-font-size);
}
#movie-table th:hover {
  background-color:var(--th-bg-hover);
  color:var(--th-text-hover);
}
#movie-table td {
  padding: var(--tablecell-padding);
  white-space: nowrap;
}
.movie-row {
  font-size: var(--main-font-size);
  height: var(--movie-row-height);
  background-color:var(--movie-row-bg);
}
.movie-row:nth-of-type(odd) {
  background-color: var(--movie-row-bg-odd);
}
.movie-row:nth-of-type(even) {
  background-color: var(--movie-row-bg-even);
}
.movie-row:hover {
  background-color: var(--movie-row-bg-hover);
  color: var(--movie-row-text-hover);
}

.movie-row .title {
  overflow:hidden;
  max-width:15em;
  position: relative; /* necessary for the positioning of the ellipsis gradient */
}
/* ellipsis gradient */
.movie-row .title::after, .movie-row:hover .title::after {
  display: inline-block;
  /* border:1px solid red; */
  content: "";
  width: 1em;
  position: absolute;
  top:0px;
  right: 0px;
  /* width: 100%; */
  height: 100%;
}
.movie-row .title::after {
  background: var(--tablecell-ellipsis-grad);
}
.movie-row:nth-of-type(odd) .title::after {
  background: var(--tablecell-ellipsis-grad-odd);
}
.movie-row:nth-of-type(even) .title::after {
  background: var(--tablecell-ellipsis-grad-even);
}
.movie-row:nth-of-type(odd):hover .title::after {
  background: var(--tablecell-ellipsis-grad-hover-odd);
}
.movie-row:nth-of-type(even):hover .title::after {
  background: var(--tablecell-ellipsis-grad-hover-even);
}
.movie-row:hover .title::after {
  background: var(--tablecell-ellipsis-grad-hover);
}
.movie-row .dateadded {
  font-size: var(--movie-row-date-font-size) !important;
}
.movie-row .year {
  font-size: var(--movie-row-year-font-size) !important;
}

#movie-table .mono {
  font-family: var(--table-cell-monofont);
  font-size: var(--table-cell-monofont-size);
  font-weight: var(--table-cell-monofont-weight);
}

.movie-row .centered {
  text-align: center;
}

/* edit widgets are little graphical editors, such as the rating stars and the checkmark in the table rows that respond to mouseover and click events */
.edit-widget {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.edit-widget.over {
  color: var(--editwidget-text-hover);
  opacity: var(--editwidget-opacity-hover);
}
.edit-widget li {
  display: inline;
}

#collections-container {
  margin-left: calc(-1 * var(--collection-marginleft));
}
#collections-container *.hidden {
  display:none;
}
.collection {
  margin-left: var(--collection-marginleft);
}
.collection h1 {
  display:block;
  background-color: var(--collectionheader-bg);
  color: var(--collectionheader-text);
  margin: var(--collectionheader-margin);
  padding: var(--collectionheader-padding);
  font-size: var(--collectionheader-font-size);
  text-transform: uppercase;
  font-weight: var(--collectionheader-font-weight);
  font-family: var(--collectionheader-font);
  font-style: var(--collectionheader-font-style);
}
.collection h1:hover {
  background-color: var(--collectionheader-bg-hover);
  color: var(--collectionheader-text-hover);
}

/*************************************/
/*########## DETAILS PANE ###########*/
/*************************************/

#details-pane {
  overflow-x:hidden;
  overflow-y:scroll;
  scrollbar-width: none;
  font-size: var(--details-font-size);
}
#details-pane ::-webkit-scrollbar {
  display: none;
}

#details-pane ul {
  padding:0px;
  margin:0px;
  list-style: none;
}

.detail {
  margin-bottom:8px;
  margin-left:5%;
  margin-right:5%;
  font-weight:100;
}
.detail .label {
  font-weight:bold;
  font-size: var(--detaillabel-font-size);
  font-style: var(--detaillabel-font-style);
}
#detail-title {
  --padding: 100px;
  text-align:center;
  font-family: var(--big-title-font);
  font-size: var(--detailtitle-font-size);
  height: var(--detailtitle-font-size);
  position: relative;
  bottom: calc(var(--detailtitle-font-size) + var(--padding));
  padding-top:var(--padding);
  margin-bottom:calc(-1 * (var(--detailtitle-font-size) + var(--padding)));
  margin-left:0px;
  margin-right:0px;
  color: var(--detailtitle-text);
  background: var(--detailtitle-bg);
}
#detail-artwork {
  max-height:50vh;
  overflow:hidden;
  margin-left:0px;
  margin-right:0px;
}
#detail-artwork img {
  width:100%;
}
#detail-position .position-outer {
  width:60%;
  height:.3em;
  border: var(--detailposition-border);
  background-color: var(--detailposition-bg);
  border-radius:999px;
  overflow:hidden;
  margin: auto;
  margin-top:.2em;
  margin-bottom:.8em;
}
#detail-position .position-inner {
  height:100%;
  background-color: var(--detailpositioninner-bg);
}
#detail-tags {
  font-style: var(--detailtags-font-style);
}
#detail-description {
  font-size: var(--detaildescrip-font-size);
}

#edit-button {
  display: inline-block;
  cursor:pointer;
  user-select: none;
  position: var(--editbutton-position);
  top: var(--editbutton-top);
  bottom: var(--editbutton-bottom);
  left: var(--editbutton-left);
  right: var(--editbutton-right);
  background: var(--editbutton-bg);
  background-color: var(--editbutton-bgcolor);
  color: var(--editbutton-text);
  margin: var(--editbutton-margin);
  padding: var(--editbutton-padding);
  border: var(--editbutton-border);
  border-radius: var(--editbutton-borderradius);
  box-shadow: var(--editbutton-boxshadow);
  font-size: var(--editbutton-font-size);
  font-weight: var(--editbutton-font-weight);
  font-family: var(--editbutton-font);
  font-style: var(--editbutton-font-style);
}

#edit-button:hover {
  background: var(--editbutton-bg-hover);
  background-color: var(--editbutton-bgcolor-hover);
  color: var(--editbutton-text-hover);
  border: var(--editbutton-border-hover);
}

/*************************************/
/*######### OPENABLE PANES ##########*/
/*************************************/
/* Openable panes are a class of panes
   that don't appear until a button is
   clicked. E.g. the settings pane and
   the editor pane */

.openable-pane {
  background-color: var(--openable-bgcolor);
}

.openable-close-btn {
  cursor:pointer;
  user-select: none;
  position: var(--openable-closebtn-position);
  top: var(--openable-closebtn-top);
  bottom: var(--openable-closebtn-bottom);
  left: var(--openable-closebtn-left);
  right: var(--openable-closebtn-right);
  background: var(--openable-closebtn-bg);
  background-color: var(--openable-closebtn-bg-color);
  border: var(--openable-closebtn-border);
  border-radius: var(--openable-closebtn-borderradius);
  line-height: var(--openable-closebtn-lineheight);
  text-align: var(--openable-closebtn-textalign);
  width: var(--openable-closebtn-width);
  height: var(--openable-closebtn-height);
  padding: var(--openable-closebtn-padding);
  margin: var(--openable-closebtn-padding);
}


/*************************************/
/*########## SETTINGS PANE ##########*/
/*************************************/


#settings-pane {
}

#settings-tabs {
  padding: var(--settingstabs-container-padding);
  margin: var(--settingstabs-container-margin);
}
#settings-tabs li {
  list-style-type: none;
  cursor:pointer;
  user-select: none;
  padding: var(--settingstabs-padding);
  margin: var(--settingstabs-margin);
  border: var(--settingstabs-border);
}
#settings-tabs .selected {
  background-color: var(--settingstabs-bgcolor-selected);
}
#settings-content {
  padding: var(--settingscontent-padding);
}
