@import url('../../themes/appearances/dark-theme.css');
@import url('../../themes/layouts/default-layout-theme.css');

:root {
  overflow-x:hidden;
  scrollbar-width: none;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
}
:root ::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--main-bg);
  color: var(--main-text);
  padding:0px;
  margin:0px;
  overflow-x:hidden;
  overflow-y:hidden;
  scrollbar-width: none;

  /* font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
body ::-webkit-scrollbar {
  display: none;
}

:focus {
  outline: rgba(0,0,0,0) auto 0px;
}

/*  collection titles, table headers, playlist tabs, edit widgets, and table rows
    should have a pointer cursor and not have selectable text */
select, .collection h1, .movie-table th, #nav-playlists li, .edit-widget *, .movie-row, input[type=checkbox], .clickable {
  cursor: pointer;
  user-select: none;
}

input[type=text], select, textarea {
  font-family: var(--textinput-font);
  font-size: var(--textinput-font-size);
  font-weight: var(--textinput-font-weight);
  height: var(--textinput-height);
  outline: none;
  box-sizing: border-box;
  background-color: var(--textinput-bg-color);
  color: var(--textinput-text);
  border: var(--textinput-border);
  border-radius: var(--textinput-borderradius);
  padding: var(--textinput-padding);
}
input[type=text].no-clear {
  padding: var(--textinput-padding-noclear);
}
input[type=text].uneditable {
  opacity: .6;
  user-select: none !important;
  cursor:default;
}


input[type=text]::placeholder {
  color:var(--textinput-text-placeholder);
  /* opacity: var(--textinput-text-placeholder-opacity); */
}

/* when an input field is empty, optionally display an icon on the right side of it */
/* in order to display an icon, override the 'background' property with an image */
/* this is simply an empty div; we must populate it with an icon using the background property */
input.empty + .input-clear-button {
  background: var(--inputicon-background-empty);
}

/* when an input field has text, optionally display an icon on the right side of it */
/* this is simply an empty div; we must populate it with an icon using the background property */
/* when clicked, this div should clear the search field */
input.filled + .input-clear-button.always,
input.filled:hover + .input-clear-button.hover,
input.filled + .input-clear-button.hover:hover {
  background: var(--inputicon-background-filled);
  cursor:pointer;
}

/* set the placement and size of the icons */
input + .input-clear-button {
  position: var(--inputicon-position);
  top: var(--inputicon-top);
  bottom: var(--inputicon-bottom);
  left: var(--inputicon-left);
  right: var(--inputicon-right);
  height: var(--inputicon-height);
  width: var(--inputicon-width);
  /* background: var(--inputicon-background-empty); */
  background-size: var(--inputicon-bg-size) !important;
  opacity:var(--inputicon-opacity);
}

/* necessary so that the icons (styled above) will appear within the container,
   as they are absolutely positioned */
.input-container {
  display: inline-block;
  position: relative;
}

/* remove arrow on a select dropdown */
/* we replace it below with our own icon */
select, datalist {
  appearance: none;
  -webkit-appearance: none;
}

/* this removes Chrome's added down arrow on a datalist dropdown */
/* we replace it below with our own icon */
input::-webkit-calendar-picker-indicator {
  display: none;
}

.select-container {
  position:relative;
}
.select-container select {
  width:100%;
}

/* replace dropdown arrow icon with our own */
.select-container.select-hovericon:hover::after,
.select-container.select-alwaysicon::after {
  position:absolute;
  display:block;
  user-select: none;
  cursor: pointer;
  height: var(--select-arrow-height);
  line-height: var(--select-arrow-height);
  content: var(--select-arrow-content);
  left: var(--select-arrow-left);
  right: var(--select-arrow-right);
  top: var(--select-arrow-top);
  bottom: var(--select-arrow-bottom);
  color: var(--select-arrow-text);
  font-family: var(--select-arrow-font);
  font-size: var(--select-arrow-fontsize);
  font-weight: var(--select-arrow-fontweight);
}

/* dropdown icons that occurs in the same input as an add button
   need to be moved over to the left out from behind the button */
.select-container.inline.select-hovericon:hover::after,
.select-container.inline.select-alwaysicon::after {
  right: 1.5rem;
}

input.invalid {
  color: var(--input-invalid-text);
  background-color: var(--input-invalid-bgcolor);
  background: var(--input-invalid-bg);
  border: var(--input-invalid-border);
  box-shadow: var(--input-invalid-boxshadow);
}

button, input[type=submit] {
  outline: none;
  cursor:pointer;
  color: var(--button-text);
  font-family: var(--button-font);
  font-size: var(--button-fontsize);
  font-weight: var(--button-fontweight);
  font-style: var(--button-fontstyle);
  background-color: var(--button-bgcolor);
  margin: var(--button-margin);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-borderradius);
}

button:hover, input[type=submit]:hover {
  background: var(--button-bg-hover);
  background-color: var(--button-bgcolor-hover);
  color: var(--button-text-hover);
  border: var(--button-border-hover);
}

.ratings-icon {
  opacity: var(--ratingsicon-opacity);
}

img.ratings-icon {
  width: var(--ratingsicon-size);
  height: var(--ratingsicon-size);
}

.tooltip {
  font-size: .6rem;
  color: var(--main-text);
  background-color: var(--dark-bg);
  position:absolute;
  top:0;
  left:0;
  z-index: 999;
  display:none;
  padding:.5em;
  white-space: nowrap; /* we have to set the white space to nowrap here and then set it to normal in the javascript, because the javascript needs it set to nowrap in order to know the scroll width, to see if the text is longer than the width of the container */
  max-width:25em;
  border: .05em solid var(--main-text);
  border-radius:.5em;
  box-shadow: -.2em .2em .5em rgba(0,0,0,.4);
}

.tooltip-icon {
  display: inline-block;
  opacity:.8;
  margin-left: .2em;
  width: .7em;
  height: .7em;
  background-image: url('../../images/tooltip-icon_white.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow:visible;
}

/*************************************/
/*######## MAIN GRID LAYOUT #########*/
/*************************************/
#grid-container {
  width:100vw;
  height:100vh;
  display:grid;
}

#nav-pane {
  grid-area: header;
  background-color: var(--nav-bg);
}
#library-pane {
  grid-area: library;
  background-color: var(--library-bg);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
#library-pane ::-webkit-scrollbar {
    display: none;
}
#details-pane {
  grid-area: details;
  background-color: var(--details-bg);
}

/*************************************/
/*############# NAV PANE ############*/
/*************************************/

/* <ul> that holds the playlist links */
#nav-playlists {
}
/* <li>'s that are the playlist links/tabs */
#nav-playlists li {
  font-family: var(--playlist-tab-font);
  font-size: var(--playlist-tab-font-size);
  line-height: 1.2;
  font-weight: var(--playlist-tab-font-weight);
  list-style-type: none;
  background-color:var(--playlisttab-bg);
  color:var(--playlisttab-text);
  padding: var(--playlisttab-padding);
  border-width: var(--playlisttab-borderwidth);
  border-style: var(--playlisttab-borderstyle);
  border-color: var(--playlisttab-bordercolor);
  box-shadow: var(--playlisttab-boxshadow);
  user-select: none;
}
#nav-playlists li:hover {
  background-color:var(--playlisttab-bg-hover);
  color:var(--playlisttab-text-hover);
  border-width: var(--playlisttab-borderwidth-hover);
  border-style: var(--playlisttab-borderstyle-hover);
  border-color: var(--playlisttab-bordercolor-hover);
}
#nav-playlists li.selected {
  background-color: var(--playlisttab-bg-selected);
  background-image: var(--playlisttab-bgimg-selected);
  color: var(--playlisttab-text-selected);
  border-width: var(--playlisttab-borderwidth-selected);
  border-style: var(--playlisttab-borderstyle-selected);
  border-color: var(--playlisttab-bordercolor-selected);
  box-shadow: var(--playlisttab-boxshadow-selected);
}
#nav-playlists li#add-playlist {
  /* for the '+' tab, make the side padding (roughly) the same as the top and bottom padding */
  padding-left: calc(var(--playlisttab-padding-y) * 1.5 + .7em) !important;
  padding-right: calc(var(--playlisttab-padding-y) * 1.5);
  color: var(--dimmer-text);
}
#nav-playlists li#add-playlist:hover {
  color:var(--playlisttab-text-hover);
}

#nav-controls {
  height: var(--navchrome-height);
}

#nav-controls .controls {
  margin: var(--navcontrolschildren-margin);
}

/* search input container */
#search-field {
  height: var(--searchfield-height);
}
#search-field input.empty + .input-clear-button {
  background: var(--searchicon-background-empty);
  /* background-size: var(--inputicon-bg-size); */
}

#search-input {
  font-family: var(--searchinput-font);
  font-size: var(--searchinput-font-size);
  font-weight: var(--searchinput-font-weight);
  height: var(--searchinput-height);
  outline: none;
  /* box-sizing: border-box; */
  background-color: var(--searchinput-bg);
  color: var(--searchinput-text);
  border: var(--searchinput-border);
  border-radius: var(--searchinput-borderradius);
  padding: var(--searchinput-padding);
}

#settings-button {
  cursor:pointer;
  user-select:none;
  opacity: var(--settingsicon-opacity);
  height: var(--settingsicon-height);
  width: var(--settingsicon-width);
  background: var(--settingsicon-background);
  background-size: var(--settingsicon-bg-size);

  padding: var(--settingsicon-padding);
  margin: var(--settingsicon-margin);
  border: var(--settingsicon-border);
}

#settings-button:hover {
  opacity: var(--settingsicon-opacity-hover);
}

/*************************************/
/*########## LIBRARY PANE ###########*/
/*************************************/

.movie-table-container {
  overflow-x: scroll;
}
th, tr, td {
  border-width:0px;
}
.movie-table {
  border-collapse: collapse;
  width: 100%;
}
.movie-table thead {
  /* position:fixed; */
}

.movie-table th {
  background-color: var(--th-bg);
  color: var(--th-text);
  font-family: var(--th-font);
  font-size: var(--th-font-size);
}
.movie-table th:hover {
  background-color:var(--th-bg-hover);
  color:var(--th-text-hover);
}
.movie-table th img {
  /* vertical-align:middle; */
  position:relative;
  top:.1em;
  margin: 0 .1em 0 .1em;
}
.movie-table th:hover img {
  opacity:1;
}
.movie-table td {
  padding: var(--tablecell-padding);
  white-space: nowrap;
}
.movie-row {
  font-size: var(--main-font-size);
  height: var(--movie-row-height);
  background-color:var(--movie-row-bg);
}
.movie-row:nth-of-type(odd) {
  background-color: var(--movie-row-bg-odd);
}
.movie-row:nth-of-type(even) {
  background-color: var(--movie-row-bg-even);
}
.movie-row:hover {
  background-color: var(--movie-row-bg-hover);
  color: var(--movie-row-text-hover);
}
.movie-row.selected,
.movie-row.locked {
  /* box-shadow: var(--movie-row-boxshadow-locked); */
  background: var(--movie-row-bg-locked);
  color: var(--movie-row-text-locked);
  position:relative; /* necessary for the animation below */
}
.movie-row.locked::after,
.movie-row.unlocking::after {
  content:'';
  position:absolute;
  left:0;
  height:var(--movie-row-height);
  line-height:var(--movie-row-height);
  width:100%;
  text-align: center;
  background-color:rgba(0,0,0,.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(var(--movie-row-height) * .8);
  /* background: linear-gradient(90deg, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%); */
  color:white;
  overflow:hidden;
  white-space: nowrap;
  animation: row-locked-flash .5s ease-in 1;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
.movie-row.locked::after {
  background-image: url('../../images/padlock-lock-animation_white.gif');
}
.movie-row.unlocking::after {
  background-image: url('../../images/padlock-unlock-animation_white.gif');
}

@keyframes row-locked-flash {
  0% {
    opacity: 1;
    background-color:rgba(0,0,0,.5);
  }
  50% {
    width:100%;
    background-color:rgba(0,0,0,.5);
  }
  99% {
    opacity: 0;
    width:100%;
    background-color:rgba(0,0,0,0);
  }
  100% {
    width:0;
  }
}


.movie-row .title {
  overflow:hidden;
  max-width:15em;
  position: relative; /* necessary for the positioning of the ellipsis gradient */
}
/* ellipsis gradient */
.movie-row .title::after, .movie-row:hover .title::after {
  display: inline-block;
  /* border:1px solid red; */
  content: "";
  width: 1em;
  position: absolute;
  top:0px;
  right: 0px;
  /* width: 100%; */
  height: 100%;
}
.movie-row .title::after {
  background: var(--tablecell-ellipsis-grad);
}
.movie-row:nth-of-type(odd) .title::after {
  background: var(--tablecell-ellipsis-grad-odd);
}
.movie-row:nth-of-type(even) .title::after {
  background: var(--tablecell-ellipsis-grad-even);
}
.movie-row:nth-of-type(odd):hover .title::after {
  background: var(--tablecell-ellipsis-grad-hover-odd);
}
.movie-row:nth-of-type(even):hover .title::after {
  background: var(--tablecell-ellipsis-grad-hover-even);
}
.movie-row:hover .title::after {
  background: var(--tablecell-ellipsis-grad-hover);
}
.movie-row.selected .title::after,
.movie-row.selected:hover .title::after,
.movie-row.locked .title::after,
.movie-row.locked:hover .title::after {
  background: var(--tablecell-ellipsis-grad-locked);
}
.movie-row .dateadded,
.movie-row .lastseen {
  font-size: var(--movie-row-date-font-size) !important;
}
.movie-row .year {
  font-size: var(--movie-row-year-font-size) !important;
}
.movie-row .ratings {
  font-size: var(--movie-row-ratings-font-size) !important;
}
.movie-table .mono {
  font-family: var(--table-cell-monofont);
  font-size: var(--table-cell-monofont-size);
  font-weight: var(--table-cell-monofont-weight);
}

.movie-row .centered {
  text-align: center;
}

.movie-row .order > div {
  position:relative; /* necessary so the clear button sits inside the input element */
}
.movie-row .order input {
  width:2.7em;
}

#collections-container {
  margin-left: calc(-1 * var(--collection-marginleft));
}
#collections-container *.hidden {
  display:none;
}
.collection {
  margin-left: var(--collection-marginleft);
  position: relative;
}
.collection h1,
.collection h1 input[type=text],
.collection .collection-btn,
.collection .delete-collection {
  display:block;
  background-color: var(--collectionheader-bg);
  color: var(--collectionheader-text);
  margin: var(--collectionheader-margin);
  padding: var(--collectionheader-padding);
  font-size: var(--collectionheader-font-size);
  line-height: calc(var(--collectionheader-font-size) * 1.2);
  text-transform: uppercase;
  font-weight: var(--collectionheader-font-weight);
  font-family: var(--collectionheader-font);
  font-style: var(--collectionheader-font-style);
}
.collection h1 input[type=text] {
  background-color: rgba(0,0,0,.15);
  line-height:calc(var(--collectionheader-font-size) * 1);
  height:calc(var(--collectionheader-font-size) * 1.2);
  margin:0;
}
.collection h1 .tip {
  font-size: calc(var(--tip-fontsize) * .8);
  opacity: calc(var(--tip-opacity) * 1.2);
}
#library-pane .collection h1:hover {
  background-color: var(--collectionheader-bg-hover);
  color: var(--collectionheader-text-hover);
}
.collection.collapsed.drag-over h1 {
  background-color: var(--collectionheader-bg-drag);
  color: var(--collectionheader-text-drag);
}
/* the container div for a collections title */
.collection h1 > div {
  display: inline-block;
}
/* the input for when a collections title is clicked on to edit */
.collection h1 input {
  width:20em;
}

.collection .collection-btn-container {
  position:absolute;
  top:0;
  right:0;
}
.collection .collection-btn {
  padding: var(--collectionheader-padding-padding);
  text-align: center;
  /* background-color: var(--settings-addcollection-bg-trans); */
  color: var(--settings-addcollection-text);
}
.collection .collection-btn:hover {
  background-color: var(--settings-addcollection-bg-hover);
  color: var(--settings-addcollection-text-hover);
}
#library-pane .collection .collection-btn {
  visibility: hidden;
}
/* .collection:hover > .collection-btn, */
#library-pane .collection.dragging .collection-btn {
  visibility: visible;
}

.collection .delete-collection {
  display:none;
  position:absolute;
  top:0;
  right:0;
  padding: var(--collectionheader-padding-padding);
  background-color: initial;
  text-align: center;
  opacity:0.5;
}
.collection:hover > .delete-collection {
  display: block;
}
.collection > .delete-collection:hover {
  color: var(--settings-addcollection-text-hover);
  opacity:1;
}
.collection.dragging > .delete-collection {
  display:none;
}

#library-addToExistingCollection {
  position:relative;
  padding: var(--collectionheader-padding-padding);
}

.collection.dragging #library-addToExistingCollection.selected:hover {
  background-color: var(--collectionheader-bg-hover);
}

#library-addToExistingCollection.changing::after {
  content:'DROP HERE';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  /* font-family: var(--big-title-font); */
  font-size: calc(var(--main-font-size) * 2.5);
  white-space: nowrap;
  letter-spacing: .3em;
  /* text-align: center; */
  font-weight:bold;
  background-color: var(--lighter-bg);
  color: black;
  animation: addToExistingCollection .8s ease-in 1;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity:.8;
}

@keyframes addToExistingCollection {
  0% {
  }
  100% {
    font-size: calc(var(--main-font-size) * 3);
    opacity: 0;
  }
}


/*************************************/
/*########## DETAILS PANE ###########*/
/*************************************/

#details-pane {
  overflow-x:hidden;
  overflow-y:scroll;
  scrollbar-width: none;
  font-size: var(--details-font-size);
}
#details-pane ::-webkit-scrollbar {
  display: none;
}

#details-pane ul {
  padding:0px;
  margin:0px;
  list-style: none;
}

.detail {
  margin-bottom:.3rem;
  margin-left:5%;
  margin-right:5%;
  font-weight:100;
}
.detail .label {
  color: var(--detaillabel-text);
  font-family: var(--detaillabel-font);
  font-weight: var(--detaillabel-font-weight);
  font-size: var(--detaillabel-font-size);
  font-style: var(--detaillabel-font-style);
  line-height: calc(var(--detaillabel-font-size) * .8);
}
#detail-title {
  --padding: 100px;
  text-align:center;
  font-family: var(--big-title-font);
  font-size: var(--detailtitle-font-size);
  height: var(--detailtitle-font-size);
  position: relative;
  bottom: calc(var(--detailtitle-font-size) + var(--padding));
  padding-top:var(--padding);
  margin-bottom:calc(-1 * (var(--detailtitle-font-size) + var(--padding)));
  margin-left:0px;
  margin-right:0px;
  color: var(--detailtitle-text);
  background: var(--detailtitle-bg);
}
#detail-artwork {
  max-height:50vh;
  overflow:hidden;
  margin-left:0px;
  margin-right:0px;
}
#detail-artwork img {
  width:100%;
}
#detail-position .edit-widget.over {
  /* override the general edit-widget opacity if desired */
  opacity: var(--detailposition-opacity-hover);
}
#detail-position .position-widget {
  margin-top:.2em;
  margin-bottom:.8em;
}
#detail-position .position-outer {
  width:60%;
  height:.3em;
  margin-bottom:.2em;
  /* override the general position edit-widget border if desired */
  border: var(--detailposition-outer-border);
}
#detail-position .position-inner {
  /* override the general position edit-widget interior bg if desired */
  background-color: var(--detailposition-inner-bgcolor);
}
#detail-tags {
  font-style: var(--detailtags-font-style);
}
#detail-description {
  font-size: var(--detaildescrip-font-size);
  margin-bottom: .5em;
}

/* if the user selects this preference, blur the video descriptions */
#detail-description.hide {
  --maxheight: 3.5em;
  max-height: var(--maxheight);
  position:relative;
  margin-bottom: 1em;
}
#detail-description.hide div {
  max-height: var(--maxheight);
  overflow:hidden;
  -webkit-text-stroke:.1em var(--main-text);
  filter: blur(.2em);
}
#detail-description.hide:hover {
  cursor: pointer;
  user-select: none;
}
#detail-description.hide:hover::after {
  content:"Click to show";
  position:absolute;
  left:50%;
  top:calc(var(--maxheight)/2);
  transform: translate(-50%, -50%);
  padding:.5em;
  background-color: var(--openable-bgcolor);
  border-radius: var(--editbutton-borderradius);
  white-space: nowrap;
}

#detail-ratings {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

#detail-ratings > div {
  margin: 0 .2em 0 .2em;
}

#detail-ratings * {
  height:  var(--ratingsicon-size);
  line-height: var(--ratingsicon-size);
  vertical-align: middle;
  white-space: nowrap;
}

#detail-ratings img {
  vertical-align: bottom;
}

#edit-button {
  display: inline-block;
  cursor:pointer;
  user-select: none;
  z-index: 100;
  position: var(--editbutton-position);
  top: var(--editbutton-top);
  bottom: var(--editbutton-bottom);
  left: var(--editbutton-left);
  right: var(--editbutton-right);
  background: var(--editbutton-bg);
  background-color: var(--editbutton-bgcolor);
  color: var(--editbutton-text);
  margin: var(--editbutton-margin);
  padding: var(--editbutton-padding);
  border: var(--editbutton-border);
  border-radius: var(--editbutton-borderradius);
  box-shadow: var(--editbutton-boxshadow);
  font-size: var(--editbutton-font-size);
  font-weight: var(--editbutton-font-weight);
  font-family: var(--editbutton-font);
  font-style: var(--editbutton-font-style);
}

#edit-button:hover {
  background: var(--editbutton-bg-hover);
  background-color: var(--editbutton-bgcolor-hover);
  color: var(--editbutton-text-hover);
  border: var(--editbutton-border-hover);
}

#details-pane .detail.dummy .dummy-field {
  background-color: var(--dark-bg);
  border-radius: .5em;
  height: 1.5em;
  margin-bottom: .6em;
}
#details-pane .detail.dummy .dummy-field,
#details-pane #detail-title.dummy .detail-title-text {
  user-select: none;
  opacity:.5;
  color: var(--dark-bg);
  word-spacing: .1em;
  -webkit-text-stroke:.2em var(--dark-bg);
  filter: blur(.05rem);
}
#details-pane .detail.dummy.first .dummy-field {
  height: 4.5em;
}
#details-pane .detail.dummy.second .dummy-field,
#details-pane .detail.dummy.third .dummy-field {
  /* height:1.5em; */
}
#details-pane .detail.dummy.fourth .dummy-field {
  height: 3em;
}
#details-pane #detail-title.dummy {
  padding-bottom:.1em;
}


/*************************************/
/*######### OPENABLE PANES ##########*/
/*************************************/
/* Openable panes are a class of panes
   that don't appear until a button is
   clicked. E.g. the settings pane and
   the editor pane */

.openable-pane {
  background-color: var(--openable-bgcolor);
}

.openable-close-btn {
  cursor:pointer;
  user-select: none;
  position: var(--openable-closebtn-position);
  top: var(--openable-closebtn-top);
  bottom: var(--openable-closebtn-bottom);
  left: var(--openable-closebtn-left);
  right: var(--openable-closebtn-right);
  background: var(--openable-closebtn-bg);
  background-color: var(--openable-closebtn-bg-color);
  border: var(--openable-closebtn-border);
  border-radius: var(--openable-closebtn-borderradius);
  line-height: var(--openable-closebtn-lineheight);
  text-align: var(--openable-closebtn-textalign);
  width: var(--openable-closebtn-width);
  height: var(--openable-closebtn-height);
  padding: var(--openable-closebtn-padding);
  margin: var(--openable-closebtn-padding);
}

.openable-close-btn:hover {
  box-shadow: var(--openable-closebtn-boxshadow-hover);
  color: var(--openable-closebtn-text-hover);
  background-color: var(--openable-closebtn-bg-color-hover);
}

/*************************************/
/*########### PLAYER PANE ###########*/
/*************************************/
#player-pane {
  background-color: rgba(0,0,0,0);
}

#video-container {
  margin: 0;
  padding: 0;
  line-height: 0;
  overflow:hidden;
}

#video-player {
  margin: 0;
  padding: 0;
}

#player-pane .error-message {
  position:absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);

  font-size: max(.5rem,2vw);
  line-height:1em;
  text-align:center;
}
#player-pane .error-message .header {
  font-family: var(--alt-font);
  font-size: 2em;
  text-shadow: .2em .2em .1em black;
  line-height:1em;
}


/*************************************/
/*########## SETTINGS PANE ##########*/
/*************************************/

#settings-pane {
}

#settings-pane #settings-content {
  overflow-x: scroll;
}

#settings-tabs {
  padding: var(--settingstabs-container-padding);
  margin: var(--settingstabs-container-margin);
}
#settings-tabs li {
  list-style-type: none;
  cursor:pointer;
  user-select: none;
  box-sizing: border-box;
  padding: var(--settingstabs-padding);
  margin: var(--settingstabs-margin);
  border-width: var(--settingstabs-borderwidth);
  border-color: var(--settingstabs-bordercolor);
  border-style: var(--settingstabs-borderstyle);
  border-radius: var(--settingstabs-border-radius);
  background-color: var(--settingstabs-bgcolor);
  color: var(--settingstabs-text);
}
#settings-tabs .selected {
  color: var(--settingstabs-text-selected);
  background-color: var(--settingstabs-bgcolor-selected);
  border-width: var(--settingstabs-borderwidth-selected);
  border-color: var(--settingstabs-bordercolor-selected);
  border-style: var(--settingstabs-borderstyle-selected);
  border-radius: var(--settingstabs-border-radius-selected);
}
#settings-content {
  padding: var(--settingscontent-padding);
}

#settings-pane .subsection {
  /* font-size: .8em; *//* for some reason this line really screws up the select arrow icons. I cannot figure out why */
  margin-bottom: 1em;
  margin-left:.5rem;
}

#settings-pane .subsection h2,
#settings-pane .subsection h3,
#settings-pane .subsection h4 {
  margin-top: 0em;
  font-family: var(--settings-subheader-font);
  font-style: var(--settings-subheader-fontstyle);
  font-weight: var(--settings-subheader-fontweight);
  line-height: var(--settings-subheader-fontsize);
  font-size: var(--settings-subheader-fontsize);
}

#settings-pane .subsection h2 {
  margin-left:-.5rem;
}

#settings-pane .subsection h3,
#settings-pane .subsection h4 {
  margin-bottom: .5em;
}

#settings-pane .table .header {
  text-align: center;
  color: var(--th-text);
  font-family: var(--th-font);
  font-size: calc(var(--th-font-size) * .8);
  font-weight:bold;
}

#settings-preferences .subsection {
  white-space: nowrap;
}

#settings-playlists .table .header button {
  color: var(--button-text);
  font-family: var(--button-font);
  font-size: var(--button-fontsize);
  font-weight: var(--button-fontweight);
}

#settings-playlists .table .row {
  vertical-align: middle;
  display:grid;
  grid-template-columns: 1rem 1.5rem 13rem 7rem 2.2rem 3rem;
  column-gap: .2rem;
  margin-bottom: .2rem;
}

.header.tab {grid-column: 2;}
.header.name {grid-column: 3;}
.header.view {grid-column: 4;}
.header.add-btn {grid-column: 6;}
.header.filter {grid-row: 2; grid-column: 3;}
.header.columns {grid-row: 4; grid-column: 3;}

.cell.tab {
  grid-row: 1;
  grid-column: 2;
}
.cell.name {
  grid-row: 1;
  grid-column: 3;
}
.cell.view {
  grid-row: 1;
  grid-column: 4;
}
.cell.edit-btn {
  grid-row: 1;
  grid-column: 5;
}
.cell.delete-btn {
  grid-row: 1;
  grid-column: 6;
}
.cell.filter {
  grid-row: 3;
  grid-column: 3 / span 2;
}
.cell.columns {
  grid-row: 5;
  grid-column: 3 / span 3;
}

.cell.drag-button,
.cell.tab,
.cell.edit-btn,
.cell.delete-btn {
  text-align:center;
}

#settings-playlists .table .cell select,
#settings-playlists .table .cell input[type=text] {
  width:100%;
}

#settings-pane .table .cell > * {
  vertical-align: middle;
  /* line-height:100%; */
  /* height: 100%; */
}

#settings-pane .table .cell input[type=checkbox] {
  margin:0;
}


/* #settings-playlists .table .name-and-edit {
  text-align:left;
  width: 13em;
  max-width: 13em;
}
#settings-playlists .table .name-and-edit input {
  width: 100%;
} */


#settings-playlists .table .view select {
  font-size: calc(var(--textinput-font-size) * .8);
}


#settings-playlists .drag-button {
  opacity:.3;
  user-select: none;
  cursor:grab;
}

#settings-playlists .drag-button:active {
  cursor:grabbing;
}

#settings-playlists .drag-button,
#settings-playlists .checkbox {
  line-height: var(--textinput-height);
}

#settings-playlists .checkbox input {
  height: var(--textinput-height);
  margin:0;
  margin-left: auto;
  margin-right: auto;
}

#settings-playlists .table textarea {
  font-family: var(--table-cell-monofont);
  font-size: calc(var(--textinput-font-size) * .8);
  width:100%;
  height:5em;
  padding: .3em .5em .3em .5em;
  /* margin-top:.15rem;
  margin-bottom:.3rem; */
}

#settings-playlists-rowdivider {
  /* border-bottom:.1em solid var(--dim-text); */
  width: 100%;
  height: .3em;
  background-color: var(--dim-text);
}

/* #settings-playlists-rowdivider td::after {
  content:'';
  display:block;
  width:100%;
  height:.3em;
} */

/* #settings-playlists .settings-columns {
  z-index: calc(var(--openablepane-zindex) + 4);
}
#settings-playlists td.view,
#settings-playlists td.edit-btn,
#settings-playlists td.delete-btn {
  z-index: 0;
} */

#settings-preferences ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size:.8em;
}

#settings-prefs-cols div {
  display: flex;
  flex-direction: column;
}

#settings-prefs-showdialogs .dialog {
  --lineheight: 1em;
  line-height: var(--lineheight);
  height: calc(var(--lineheight) * 2);
  margin-bottom: .2em;
}

#settings-prefs-showdialogs .showdialog-descrip {
  font-size: .9em;
}

.settings-prefs-restore-btn {
  width: 13em;
}

.settings-columns {
  font-size:.8em;
  font-weight:300;
  text-align: left;
  bottom:.5em;
}

.settings-columns label {
  font-size:.6rem;
  font-weight:300;
}

#settings-playlists .settings-columns {
  margin-bottom:.5em;
}

#settings-pane .columns-list {
  margin:0;
  padding:0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#settings-pane .columns-list .ratings-icon,
#main-table-header-row img {
  width: 1em;
  height: 1em;
}

#settings-pane .columns-list li {
  list-style-type: none;
  user-select: none;
  white-space: nowrap;
}

#settings-folders-choose {
  display:flex;
  flex-direction:column;
}

#settings-folders-choose .choose-section {
  margin-bottom:.5em
}

#settings-folders-choose .choose-section.kind {
  width:10em;
}

#settings-folders-choose label {
  display:block;
  margin: var(--editfield-name-margin);
  font-family: var(--editfield-name-font);
  font-size: var(--editfield-name-fontsize);
  font-style: var(--editfield-name-fontstyle);
  font-weight: var(--editfield-name-fontweight);
}

#settings-folders-choose button {
  margin-right:.5em;
}

/* text input for choosing watch folder path */
#settings-folders-choose-path {
  width:100%;
}

/* container for the above input */
#settings-folders-choose .path .input-container {
  width:100%;
}

#settings-folders-folders .watchfolders-table {
  table-layout: fixed;
  width:100%;
  border-spacing: .5em 0;
}

#settings-folders-folders th.path { /* the path column of the table */
}
#settings-folders-folders td.path { /* the path column of the table */
  font-weight: 300;
  font-size: .8em;
  white-space: nowrap;
  overflow:hidden;
}
#settings-folders-folders td.path.overflow {
  -webkit-mask-image: linear-gradient(to right, transparent 0, rgba(0, 0, 0, 1.0) 3em);
  -webkit-mask-position: 0 0;
  -webkit-mask-repeat: repeat-y;
}
#settings-folders-folders td.path.overflow span {
  float:right;
}

#settings-folders-folders th.default-kind { /* the default kind column of the table */
  width:6em;
}
#settings-folders-folders td.default-kind { /* the default kind column of the table */
}


#settings-folders-folders th.remove { /* the remove button column of the table */
  width:2.6em;
}
#settings-folders-folders td.remove { /* the remove button column of the table */
  text-align: center;
}


#settings-folders-folders td,
#settings-folders-folders th {
  /* padding-right: .5em; */
  /* border: 1px solid red; */
}

#settings-folders-folders thead {
  text-align: center;
  color: var(--th-text);
  font-family: var(--th-font);
  font-size: calc(var(--th-font-size) * .8);
  font-weight: bold;
}

#settings-collections .collection .video {
  font-size: var(--settings-collectionvideo-font-size);
  margin-left: var(--collection-marginleft);
}

#settings-collections .collection-btn {
  margin-left: var(--collection-marginleft);
  display: inline-block;
}

#settings-collections .collection header > h1 {
/* #settings-collections .collection header > h1 input[type=text] { */
  cursor: default;
  font-size: var(--settings-collectionheader-font-size);
  padding: var(--settings-collectionheader-padding);
}

#settings-collections .collection header > h1 input[type=text] {
  /* text-transform: uppercase;
  font-weight: var(--collectionheader-font-weight);
  font-family: var(--collectionheader-font);
  font-style: var(--collectionheader-font-style); */
  font-size: var(--settings-collectionheader-font-size);
  height:calc(var(--settings-collectionheader-font-size) * 1.2);
}
#settings-collections .collection header > h1 .tip {
  font-size: calc(var(--tip-fontsize) * .7);
  margin-top: -.1em;
}
#settings-collections .collection-btn h1 {
  font-size: var(--settings-collectionheader-font-size);
  padding: var(--settings-addcollection-padding);
  width: var(--settings-addcollection-width);
  text-align: center;

  display:block;
  color: var(--settings-addcollection-text);
  background-color: var(--settings-addcollection-bg);
  /* margin: var(--collectionheader-margin); */
  margin:0;
  text-transform: uppercase;
  font-weight: var(--collectionheader-font-weight);
  font-family: var(--collectionheader-font);
  font-style: var(--collectionheader-font-style);
}
#settings-collections .collection-btn.add h1 {
  /* background-color: var(--settings-addcollection-bg); */
}
#settings-collections .collection-btn.delete h1 {
  background-color: var(--settings-addcollection-bg-delete);
}
#settings-collections .collection-btn:hover h1 {
  background: var(--settings-addcollection-bg-hover);
  color: var(--settings-addcollection-text-hover);
}
#settings-collections .collection-btn.delete:hover h1 {
  background-color: rgba(200,70,70,.4);
}
#settings-collections .collection-btn.terminal {
  opacity: .6;
}


/*************************************/
/*########### EDITOR PANE ###########*/
/*************************************/

#editor-pane {
  padding: var(--editorpane-padding);
  height: auto;
}

#editor-pane input[type=text],
#editor-pane select,
#editor-pane textarea {
  outline: none;
  width: var(--editor-textinput-width);
  font-size: var(--editor-textinput-font-size);
  font-weight: var(--editor-textinput-font-weight);
  height: var(--editor-textinput-height);
  background-color: var(--editor-textinput-bg-color);
  background: var(--editor-textinput-bg);
  color: var(--editor-textinput-text);
  border: var(--editor-textinput-border);
  border-radius: var(--editor-textinput-borderradius);
  padding: var(--editor-textinput-padding);
}

#editor-pane textarea {
  border-radius: var(--editor-textarea-borderradius);
  height: var(--editor-textarea-height);
  width: var(--editor-textarea-width);
  margin: var(--editor-textarea-margin);
  padding: var(--editor-textarea-padding);
  background-color: var(--editor-textarea-bg-color);
  background: var(--editor-textarea-bg);
  color: var(--editor-textarea-text);
  border: var(--editor-textarea-border);
  font-family: var(--editor-textarea-font);
  font-size: var(--editor-textarea-fontsize);
  font-style: var(--editor-textarea-fontstyle);
  font-weight: var(--editor-textarea-fontweight);
}

#editor-pane select,
#editor-pane .select-container input[type=text],
/* #settings-pane select, */
#settings-pane .select-container input[type=text] {
  width: var(--editor-select-width);
  font-size: var(--editor-select-font-size);
  font-weight: var(--editor-select-font-weight);
  height: var(--editor-select-height);
  background-color: var(--editor-select-bg-color);
  background: var(--editor-select-bg);
  color: var(--editor-select-text);
  border: var(--editor-select-border);
  border-radius: var(--editor-select-borderradius);
  padding: var(--editor-select-padding);
}

.edit-field {
  margin: var(--editfield-margin);
}

.edit-field-name {
  margin: var(--editfield-name-margin);
  font-family: var(--editfield-name-font);
  font-size: var(--editfield-name-fontsize);
  font-style: var(--editfield-name-fontstyle);
  font-weight: var(--editfield-name-fontweight);
}

.edit-field-description {
  color: var(--editfield-descrip-text);
  font-family: var(--editfield-descrip-font);
  font-size: var(--editfield-descrip-fontsize);
  font-style: var(--editfield-descrip-fontstyle);
  font-weight: var(--editfield-descrip-fontweight);
}

.edit-field.title .edit-field-name,
.edit-field.description .edit-field-name,
.edit-field.artwork .edit-field-name {
  display:none;
}

/* .edit-field.genre input[type=text], */
.edit-field.kind select {
  text-transform: capitalize;
}

/* .edit-field.new .edit-field-editor {
  display:inline-block;
} */

#editor-pane input[type=text].edit-field-title {
  text-align:center;
  font-family: var(--editor-input-title-font);
  font-size: var(--editor-input-title-font-size);
  height: var(--editor-input-title-height);
  line-height: var(--editor-input-title-lineheight);
  margin: var(--editor-input-title-margin);
  /* position: relative;
  bottom: calc(var(--detailtitle-font-size) + var(--padding));
  padding-top:var(--padding);
  margin-bottom:calc(-1 * (var(--detailtitle-font-size) + var(--padding)));
  margin-left:0px;
  margin-right:0px; */
  color: var(--editor-input-title-color);
  background: var(--editor-input-title-background);
  padding: var(--editor-input-title-padding);
  border-radius: var(--editor-input-title-borderradius);
}

/* edit widgets are little graphical editors, such as the rating stars and the checkmark
   that respond to mouseover and click events. These widgets are used in the editor pane
   but also in the movie table rows */
.edit-widget {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.edit-widget.over {
  color: var(--editwidget-text-hover);
  opacity: var(--editwidget-opacity-hover);
}
.edit-widget li {
  display: inline;
}

.edit-widget .position-outer {
  width: var(--positionwidget-width);
  height: var(--positionwidget-height);
  border: var(--positionwidget-border);
  background-color: var(--positionwidget-bg);
  border-radius:999px;
  overflow:hidden;
  margin: auto;
}
.edit-widget .position-inner {
  height:100%;
  background-color: var(--positionwidgetinner-bg);
}
.edit-widget .position-text {
  font-style:italic;
  text-align:center;
}

/* <ul> containing cast list items */
.edit-field.cast .cast {
  display:block;
  margin:0em;
  padding:0em;
}

.list-widget-list {
  padding:0em;
  margin:0em;
}

/* e.g. individual cast and tags items (<li>) */
.list-widget-item {
  list-style-type: none;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  max-width: var(--listwidget-item-maxwidth);
  background: var(--listwidget-item-bg);
  background-color: var(--listwidget-item-bg-color);
  color: var(--listwidget-item-text);
  border-radius: var(--listwidget-item-borderradius);
  height: var(--listwidget-item-height);
  width: var(--listwidget-item-width);
  margin: var(--listwidget-item-margin);
  padding: var(--listwidget-item-padding);
  font-family: var(--listwidget-item-font);
  font-size: var(--listwidget-item-fontsize);
  font-style: var(--listwidget-item-fontstyle);
  font-weight: var(--listwidget-item-fontweight);
}
.list-widget-list.tags .list-widget-item,
.list-widget-list.tags .list-widget-add {
  width:auto;
  max-width:10em;
}

.list-widget-item::after {
  content:"";
  background: var(--listwidget-item-ellipsis-grad);
  width: var(--listwidget-item-ellipsis-width);
  height: 100%;
  position: absolute;
  right: -.1em;
  top: 0em;
  /* z-index:100; */
}

/* .list-widget-delete-item { */
.inline-delete-button {
  cursor:pointer;
  vertical-align: middle;
  box-sizing: border-box;
  display: var(--listwidgetdel-item-display);
  position: var(--listwidgetdel-item-position);
  left: var(--listwidgetdel-item-left);
  right: var(--listwidgetdel-item-right);
  top: var(--listwidgetdel-item-top);
  bottom: var(--listwidgetdel-item-bottom);
  font-size: var(--listwidgetdel-item-fontsize);
  border-radius: var(--listwidgetdel-item-borderradius);
  background-color: var(--listwidgetdel-item-bg-color);
  line-height: var(--listwidgetdel-item-lineheight);
  text-align: var(--listwidgetdel-item-textalign);
  width: var(--listwidgetdel-item-width);
  height: var(--listwidgetdel-item-height);
  padding: var(--listwidgetdel-item-padding);
  margin: var(--listwidgetdel-item-margin);
}

#editor-pane .list-widget-add {
  /* max-width: var(--listwidgetadd-input-maxwidth); */
}

#editor-pane .list-widget-add.inline,
#settings-pane .list-widget-add.inline {
  font-family: var(--listwidgetadd-inline-font);
  font-size: var(--listwidgetadd-inline-fontsize);
  font-style: var(--listwidgetadd-inline-fontstyle);
  font-weight: var(--listwidgetadd-inline-fontweight);
  background: var(--listwidgetadd-inline-bg);
  background-color: var(--listwidgetadd-inline-bg-color);
  color: var(--listwidgetadd-inline-text);
  border: var(--listwidgetadd-inline-border);
  border-radius: var(--listwidgetadd-inline-borderradius);
  height: var(--listwidgetadd-inline-height);
  width: var(--listwidgetadd-inline-width);
  margin: var(--listwidgetadd-inline-margin);
  padding: var(--listwidgetadd-inline-padding);
}

#editor-pane .list-widget-add.inline input.list-widget-add-input,
#settings-pane .list-widget-add.inline input.list-widget-add-input {
  height: 100%;
  width: 100%;
  padding: var(--listwidget-item-padding);
  /* font-family: var(--listwidgetadd-input-font);
  font-size: var(--listwidgetadd-input-fontsize);
  font-style: var(--listwidgetadd-input-fontstyle);
  font-weight: var(--listwidgetadd-input-fontweight);
  position: var(--listwidgetadd-input-position);
  left: var(--listwidgetadd-input-left);
  right: var(--listwidgetadd-input-right);
  top: var(--listwidgetadd-input-top);
  bottom: var(--listwidgetadd-input-bottom);
  background: var(--listwidgetadd-input-bg);
  background-color: var(--listwidgetadd-input-bg-color);
  color: var(--listwidgetadd-input-text);
  border: var(--listwidgetadd-input-border);
  border-radius: var(--listwidgetadd-input-borderradius);
  height: var(--listwidgetadd-input-height);
  width: var(--listwidgetadd-input-width);
  margin: var(--listwidgetadd-input-margin);
  padding: var(--listwidgetadd-input-padding); */
}

/* .list-widget-add button { */
.editor-inline-button {
  outline: none;
  cursor: pointer;
  user-select: none;
  font-family: var(--listwidgetadd-button-font);
  font-size: var(--listwidgetadd-button-fontsize);
  font-style: var(--listwidgetadd-button-fontstyle);
  font-weight: var(--listwidgetadd-button-fontweight);
  line-height: var(--listwidgetadd-button-lineheight);
  position: var(--listwidgetadd-button-position);
  left: var(--listwidgetadd-button-left);
  right: var(--listwidgetadd-button-right);
  top: var(--listwidgetadd-button-top);
  bottom: var(--listwidgetadd-button-bottom);
  background: var(--listwidgetadd-button-bg);
  background-color: var(--listwidgetadd-button-bg-color);
  color: var(--listwidgetadd-button-text);
  border: var(--listwidgetadd-button-border);
  border-radius: var(--listwidgetadd-button-borderradius);
  height: var(--listwidgetadd-button-height);
  width: var(--listwidgetadd-button-width);
  margin: var(--listwidgetadd-button-margin);
  padding: var(--listwidgetadd-button-padding);
}

.editor-inline-button:hover {
  border: var(--listwidgetadd-button-border);
}

/* artwork image */
.edit-field.artwork .edit-field-editor img {
  width: var(--editartwork-img-width);
  height: var(--editartwork-img-height);
}

.edit-field.artwork .edit-field-editor button {
  position: var(--editartwork-browse-position);
  top: var(--editartwork-browse-top);
  bottom: var(--editartwork-browse-bottom);
  left: var(--editartwork-browse-left);
  right: var(--editartwork-browse-right);
}

/* revert link that appears in the artwork field when the image is moused over */
/* it's empty, so we have to fill it with a background */
#editor-pane .edit-field-revert {
  cursor:pointer;
  user-select: none;
  position: var(--editartwork-revert-position);
  top: var(--editartwork-revert-top);
  bottom: var(--editartwork-revert-bottom);
  left: var(--editartwork-revert-left);
  right: var(--editartwork-revert-right);
  /* width:1em; */
  height:1em;
  font-size: 1.5em;
  font-weight: 800;
  color: var(--editartwork-revert-text);
  text-shadow: var(--editartwork-revert-textshadow);
}
#editor-pane .edit-field-revert::after {
  content:"\21BA";
}
#editor-pane .edit-field-revert:hover {
  color: var(--editartwork-revert-text-hover);
  text-shadow: var(--editartwork-revert-textshadow-hover);
}

.edit-field.collections .edit-field-editor {
  font-size: var(--collections-fontsize);
}

.edit-field.ratings table {
  /* list-style-type: none;
  margin: 0em;
  padding: 0em; */
  vertical-align: middle;
}

.edit-field.ratings tr {
  /* display: flex;
  flex-wrap: nowrap; */
  font-size: var(--editratings-fontsize);
}

.edit-field.ratings td {
  padding-bottom: var(--tip-fontsize);
}

.edit-field.ratings td.ratings-input {
  text-align: right;
}

.edit-field.ratings .ratings-icon img {
  width: var(--ratingsicon-size);
  height: var(--ratingsicon-size);
}

#editor-pane .edit-field.ratings .ratings-input input[type=text] {
  line-height: var(--editratings-fontsize);
  text-align: right;
  width:2.5em;
  height: initial;
  border-radius:var(--editratings-borderradius);
  padding: 0em 0em 0em .5em;
  background: none;
}

#editor-pane .edit-field.ratings .tip {
  position: absolute;
  bottom: 0em; /*calc(-1 * var(--tip-fontsize));*/
}

.tip {
  position:absolute;
  font-size: var(--tip-fontsize);
  line-height:normal;
  opacity:var(--tip-opacity);
  margin: var(--editfield-name-margin);
}

/* message displayed to user at the top of the edit pane
   when multiple videos are being edited at once */
#editor-pane #edit-batch-notification {
  justify-content: center;
  margin:.3em;
  overflow-x:hidden;
}
#editor-pane #edit-batch-notification .twirl-icon {
  font-size:.6em;
  line-height:2.2em; /* <-- I don't know why 2.2, but I'm tired of trying to fix this */
  vertical-align: middle;
}
#editor-pane #edit-batch-notification .text-container {

}
#editor-pane #edit-batch-notification .lede {
  text-transform:uppercase;
  color:rgba(255,80,80,.7);
}
#editor-pane #edit-batch-notification .paragraph {
  display:block;
  font-size:.8em;
}
#editor-pane #batch-videos-table {
  /* max-width:100%; */
}
#editor-pane #batch-videos-table th {
  border: 0px dotted var(--dimmer-text);
  border-bottom-width: .1em;
}
#editor-pane #batch-videos-table td {
  padding:.2em;
  white-space: nowrap;
  overflow-x:scroll;
}
#editor-pane #batch-videos-table .filename {
  font-size:.8em;
  opacity:.8;
}

#edit-field-artwork-dl-msg {
  position: absolute;
  left: 0em;
  top: 0em;
  width: 100%;
  text-align: center;
}

#edit-search {
  width:100%;
  display:flex;
  flex-direction: column;
  overflow: hidden;
}

#edit-search-controls {
  align-self: flex-start;
  width:100%;
  display:flex;
  flex-direction: row;
  align-items:center;
}

#edit-search-controls .input-container {
  margin-left: .5em;
  width: 12em;
}

#edit-search-button {
}

#edit-search-clear-button {
  /* align-self: flex-end; */
  font-size: 1rem;
}

#edit-search-clear-button:hover {
  color: var(--editsearch-clearbtn-text-hover);
  text-shadow: var(--editsearch-clearbtn-textshadow-hover);
}

/* list of search results */
/* table element */
#edit-search-results {
  align-self: center;
  border-collapse: collapse;
  border-spacing: 0;
}

#edit-search-results tbody tr {
  cursor:pointer;
  user-select:none;
  font-size: var(--editsearch-resultsrow-fontsize);
}

#edit-search-results td {
  white-space:normal;
  padding: var(--tablecell-padding);
}

#edit-search-results td.title {
  overflow:hidden;
}

#edit-search-results tbody tr:hover {
  background: var(--editsearch-resultsrow-bg-hover);
  background-color: var(--editsearch-resultsrow-bgcolor-hover);
  color: var(--editsearch-resultsrow-text-hover);
}

#edit-search-results td a {
  display: block;
  text-decoration: none;
  font-size: var(--editsearch-resultsrow-link-fontsize);
  color: var(--editsearch-resultsrow-link-color);
  background: var(--editsearch-resultsrow-link-bg);
  background-color: var(--editsearch-resultsrow-link-bgcolor);
  border: var(--editsearch-resultsrow-link-border);
  border-radius: var(--editsearch-resultsrow-link-borderradius);
  padding: var(--editsearch-resultsrow-link-padding);
}

#edit-search-results td a:hover {
  color: var(--editsearch-resultsrow-link-color-hover);
  background: var(--editsearch-resultsrow-link-bg-hover);
  background-color: var(--editsearch-resultsrow-link-bgcolor-hover);
  border: var(--editsearch-resultsrow-link-border-hover);
}

#edit-search-results td.artwork {
  padding-left:0em;
}

#edit-search-results td.artwork img {
  width:3em;
  height:4.5em;
  opacity: .7;
}

#edit-search-results tbody tr:hover td.artwork img {
  opacity: 1;
}

.loading-icon {
  width:1.2rem;
  height:1.2rem;
}

#editor-pane .collection-header * {
  display: inline-block;
}

#editor-pane .collection-name {
  color: var(--colname-text);
  font-family: var(--colname-font);
  font-size: var(--colname-fontsize);
  font-style: var(--colname-fontstyle);
  font-weight: var(--colname-fontweight);
  text-transform: var(--colname-texttransform);
}

#editor-pane .collection-terminal-node {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;

  background: var(--coltermnode-bg);
  background-color: var(--coltermnode-bg-color);
  color: var(--coltermnode-text);
  border-radius: var(--coltermnode-borderradius);
  height: var(--coltermnode-height);
  width: var(--coltermnode-width);
  margin: var(--coltermnode-margin);
  padding: var(--coltermnode-padding);
  font-family: var(--coltermnode-font);
  font-size: var(--coltermnode-fontsize);
  font-style: var(--coltermnode-fontstyle);
  font-weight: var(--coltermnode-fontweight);
}

#editor-pane .collection-terminal-node input[type=text] {
  width:4.3em;
  height: var(--coltermnode-height);
}
